body {
    font-family: Roboto;
    background: #0AF5D9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0AF5D9, #1F1C18);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0AF5D9, #1F1C18);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(9, 143, 153, 0.1);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

h1 {
    background: #2332A9;
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #123456;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
}

#pass {
    text-align: center;
}

#generate {
    text-align: center;
}